@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Bold.ttf") format("ttf");
	font-display: auto;
	font-style: normal;
	font-weight: 800;
}
