
:root {
  /* ================
      * GRID *
  ================== */
  --grid-0: 0;
  --grid-8: 8px;
  --grid-12: 12px;
  --grid-16: 16px;
  --grid-24: 24px;
  --grid-32: 32px;
  --grid-40: 40px;

    /* ================
      * COLORS *
    ================== */
  --black-color: #000;
  --black-color-1:#333333;
  --black-color-2: #373131;
  --black-color-3: rgb(137, 137, 160);
  --black-color-4: #91b9ce12;
  --black-color-5: rgb(190, 184, 184);
  --black-color-6: rgb(35 33 33 / 64%);
  --black-color-7: rgba(240, 232, 232, 0.733);
  --black-color-8: #00000033;

  


  --white-color: rgb(255, 255, 255);
  --white-color-1: #f6eeee;
  --white-color-2: #f5f5f5;

  --blue-color: rgb(0, 0, 255);
  --blue-color-1: #1a769d;
  --blue-color-2: #089fe0;
  --blue-color-3: #3ab1e4;
  --blue-color-4: #91b9ce12;


  --red-color: rgb(231, 105, 105);
  --red-color-1: #d97474;
  --red-color-2: #d66464;

  --green-color:  rgb(1, 54, 1);
  --green-color-1:  rgb(2, 126, 2);
  --green-color-2: rgb(97, 169, 97);

  --background-gradient: linear-gradient(30deg, #f3959b, #f9b4c5, #fec6c6);




  




}
